.answer-question{ 
    border: 1px solid black; 
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.maindiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;

}
#previousAnswers{
    list-style-type: none;
    width: 80%;
    padding: 0;
    height: 70%;
}
#previousAnswers > li{
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    max-width: 100%;
    word-wrap: break-word;
}
#changethis{
    border-radius: 5px;
    width: 70%;
    height: 100px;
}
#submit{
    margin: 20px 0 20px 0;
    border-radius: 5px;
    padding: 5px;    
}
